@import 'bootstrap/dist/css/bootstrap.min.css';
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link {
  margin: 15px;
}

section#first {
  display: flex;
}
section#first div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  padding: 0 50px;
}
section#first div h1 {
  font-size: 50px;
}
section#first img {
  width: 800px;
}

section#second {
  padding: 0 100px;
}
section#second img {
  border-radius: 100px;
  width: 60px;
}
section#second div.text {
  padding: 0 15px;
  justify-content: center;
  align-items: center;
}
section#second .videos {
  width: 800px;
  flex-direction: column;
}

div.buttons {
  padding: 20px;
}

section#subscribe {
  background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1573497491208-6b1acb260507?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8dHdvJTIwcGVvcGxlJTIwdGFsa2luZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60);
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section#subscribe .subBtn {
  width: 400px;
}
section#subscribe input {
  border: none;
  border: 2px solid white;
  background: none;
  height: 60px;
  color: white;
}
section#subscribe input::-moz-placeholder {
  color: black;
}
section#subscribe input::placeholder {
  color: black;
}
section#subscribe button {
  background: #dc3545;
  height: 60px;
  color: white;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
section#subscribe button:hover {
  background: #bd2e3c;
  top: -5px;
  box-shadow: 5px 5px 5px 5px black;
}

div.footer {
  background: #333333;
  display: flex;
  justify-content: space-evenly;
}
div.footer h5 {
  padding: 20px 0;
}
div.footer div.width {
  width: 300px;
}
div.footer div.about p {
  color: gray;
}
div.footer div.navigation h5 {
  margin: 0 32px;
}
div.footer div.navigation a {
  text-decoration: none;
  color: gray;
}
div.footer div.navigation a:hover {
  color: rgba(128, 128, 128, 0.356);
}
div.footer div.input p {
  color: gray;
}
div.footer div.input input {
  width: 300px;
  border-radius: 4px;
  border: gray;
}
div.footer div.input button {
  background: #dc3545;
  margin: 10px 0;
  width: 120px;
  height: 40px;
  color: white;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
div.footer div.input button:hover {
  background: #bd2e3c;
  top: -5px;
  box-shadow: 5px 5px 5px 5px black;
}

header {
  background: #333333;
  text-align: center;
  height: 100px;
  padding: 20px;
  color: rgb(87, 86, 86);
}
header span:hover {
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  section#first {
    display: flex;
    flex-direction: column;
  }
  section#second {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  section#second div.persons {
    display: flex;
    flex-direction: column;
  }
  section#second div.persons .text {
    display: flex;
    flex-direction: column;
  }
  section#second div.videos {
    width: 700px;
  }
  section#second div.vidio1 {
    width: 700px;
  }
  main.guests div.carousel-item {
    display: flex;
    flex-direction: column;
  }
  section#subscribe {
    display: flex;
    flex-direction: column;
  }
  section#subscribe p {
    width: 650px;
  }
  div.footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start !important;
  }
  div.footer div.about {
    width: 650px;
  }
  div.footer div.navigation h5 {
    margin: 0;
  }
  div.footer div.navigation ul {
    padding: 0;
  }
  div.footer div.input {
    width: 650px;
  }
  div.footer div.input form {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  section#first {
    display: flex;
    flex-direction: column;
  }
  section#first img {
    width: 550px;
  }
  section#second {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  section#second div.persons {
    display: flex;
    flex-direction: column;
  }
  section#second div.persons .text {
    display: flex;
    flex-direction: column;
  }
  section#second div.videos {
    width: 500px;
  }
  section#second div.vidio1 {
    width: 500px;
  }
  main.guests div.carousel-item {
    display: flex;
    flex-direction: column;
  }
  main.guests p {
    text-align: center;
  }
  section#subscribe {
    display: flex;
    flex-direction: column;
  }
  section#subscribe p {
    width: 500px;
  }
  div.footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start !important;
  }
  div.footer div.about {
    width: 500px;
  }
  div.footer div.navigation h5 {
    margin: 0;
  }
  div.footer div.navigation ul {
    padding: 0;
  }
  div.footer div.input {
    width: 500px;
  }
  div.footer div.input form {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 425px) {
  section#first {
    display: flex;
    flex-direction: column;
  }
  section#first img {
    width: 400px;
  }
  section#second {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  section#second div.persons {
    display: flex;
    flex-direction: column;
  }
  section#second div.persons .text {
    display: flex;
    flex-direction: column;
  }
  section#second div.videos {
    width: 400px;
  }
  section#second div.vidio1 {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
  section#second div.vidio1 .write {
    display: flex;
    flex-direction: column;
  }
  main.guests div.carousel-item {
    display: flex;
    flex-direction: column;
  }
  main.guests p {
    text-align: center;
    margin-top: 20px;
  }
  section#subscribe {
    display: flex;
    flex-direction: column;
  }
  section#subscribe p {
    width: 400px;
  }
  div.footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start !important;
  }
  div.footer div.about {
    width: 400px;
  }
  div.footer div.navigation h5 {
    margin: 0;
  }
  div.footer div.navigation ul {
    padding: 0;
  }
  div.footer div.input {
    width: 400px;
  }
  div.footer div.input form {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=index.css.map */